* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

.cv {
    width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-left {
    width: 65%;
}

.header-left h1 {
    font-size: 32px;
    font-weight: bold;
}

.header-left h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.header-left p {
    font-size: 14px;
    line-height: 1.6;
}

.header-right img {
    width: 180px;
    height: auto;
    object-fit: cover;
}

.content {
    display: flex;
    gap: 40px;
}

.left {
    width: 35%;
}

.left section {
    margin-bottom: 30px;
}

.left h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.left p,
.left li {
    font-size: 14px;
    margin-bottom: 6px;
}

.software span {
    display: inline-block;
    border: 1px solid #000;
    padding: 6px 10px;
    margin-right: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.qr img {
    width: 90px;
    margin-right: 10px;
    margin-top: 10px;
}

.right {
    width: 65%;
}

.right section {
    margin-bottom: 30px;
}

.right h3 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.item {
    margin-bottom: 20px;
}

.time {
    font-size: 13px;
    font-weight: bold;
}

.item h4 {
    font-size: 15px;
    margin: 5px 0;
}

.item ul {
    padding-left: 18px;
}

.item li {
    font-size: 14px;
    margin-bottom: 5px;
}
.software span {
    display: inline-block;
    border: 2px solid #000;
    padding: 8px 14px;
    margin: 6px 6px 0 0;
    font-weight: bold;
    background: #fff;
    cursor: pointer;

    transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease,
        color 0.25s ease;
}

.software span:hover {
    background-color: #000;
    color: #fff;

    /* Nổi lên */
    transform: translateY(-6px);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

